<form  id = "car-search-form"class ='car-search' action = "/car_search">
  <label for="carName">enter car name:</label><br>
  <input id="car-name" type="text"  name="carName" value="">
  <input type="submit" value="Search">
  <br>
</form> 
<script src = './js/get_car_description.js'></script>

<div id = "car-description"></div>