<div>
    <div>  
        <button onclick="window.location.href = '/car_search'" >car search</button>
        <button onclick ="window.location.href = '/car_wishlist'">car wishlist</button>
    </div>
</div>