<div>
    <hr>
<table>
    <thead>
        <tr>Car Name</tr>
        <tr>Car Image</tr>
        <tr>Car Description</tr>
    </thead>
    <tbody>
        <tr>
            <td>acura tl</td>
            <td>image</td>
            <td>acura tl description</td>
        </tr>
        <!--This section will contain all the webscraped info that 
        will be gotten from the microservice -->
    </tbody>
</table>
<hr>
</div>